<p id="notice"><%= notice %></p>

<p>
  <strong>Monday from:</strong>
  <%= @operating_hour.monday_from %>
</p>

<p>
  <strong>Monday to:</strong>
  <%= @operating_hour.monday_to %>
</p>

<p>
  <strong>Tuesday from:</strong>
  <%= @operating_hour.tuesday_from %>
</p>

<p>
  <strong>Tuesday to:</strong>
  <%= @operating_hour.tuesday_to %>
</p>

<p>
  <strong>Wednesday from:</strong>
  <%= @operating_hour.wednesday_from %>
</p>

<p>
  <strong>Wednesday to:</strong>
  <%= @operating_hour.wednesday_to %>
</p>

<p>
  <strong>Thursday from:</strong>
  <%= @operating_hour.thursday_from %>
</p>

<p>
  <strong>Thursday to:</strong>
  <%= @operating_hour.thursday_to %>
</p>

<p>
  <strong>Friday from:</strong>
  <%= @operating_hour.friday_from %>
</p>

<p>
  <strong>Friday to:</strong>
  <%= @operating_hour.friday_to %>
</p>

<p>
  <strong>Sat from:</strong>
  <%= @operating_hour.sat_from %>
</p>

<p>
  <strong>Sat to:</strong>
  <%= @operating_hour.sat_to %>
</p>

<p>
  <strong>Sunday from:</strong>
  <%= @operating_hour.sunday_from %>
</p>

<p>
  <strong>Sunday to:</strong>
  <%= @operating_hour.sunday_to %>
</p>

<p>
  <strong>Warehouse:</strong>
  <%= @operating_hour.warehouse %>
</p>

<%= link_to 'Edit', edit_operating_hour_path(@operating_hour) %> |
<%= link_to 'Back', operating_hours_path %>
