<div class="row">

  <div class="col-md-3">
    <%= render 'warehouse_menu' %>

  </div>

  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">

    Description
      </div>

      <div class="panel-body">
        <div class="container">

          <%= form_for @warehouse do |f| %>
          <div class="row">
            <div class="form-group">
          <label for="">
          Listing name
          </label>
          <%= f.text_field :title, placeholder: "Listing name", class: "form-control", required: true %>




            </div>

            <div class="form-group">
          <label for="">
      Summary
          </label>
          <%= f.text_area :description, rows: 5, placeholder: "Summary of your Warehouse", class: "form-control", required: true %>




            </div>

          </div>

          <div class="text-center">
            <%= f.submit "Save", class: "btn btn-form"%>
          </div>

          <% end %>
      </div>

    </div>

  </div>
</div>
